<section>
  <div class="custom-toolbar">
    <button kendoButton fillMode="flat" (click)="drawer.toggle()">
      <span style="font-size: 20px"> ☰ </span>
    </button>
    <span class="mail-box">Kendo UI Test</span>
  </div>
  <kendo-drawer-container>
    <kendo-drawer
      #drawer
      [items]="items"
      mode="push"
      [mini]="false"
      [expanded]="true"
      (select)="onSelect($event)"
    >
    </kendo-drawer>

    <kendo-drawer-content>
      <!-- <router-outlet></router-outlet> -->
      <!-- <div
        style="width: 100%; height: 90vh; overflow: auto; padding-bottom: 1rem"
      > -->
      <app-kendo-table *ngIf="selected === 'Table'"></app-kendo-table>
      <app-kendo-grid *ngIf="selected === 'Grid'"></app-kendo-grid>
      <app-kendo-btn *ngIf="selected === 'Buttons'"></app-kendo-btn>
      <app-kendo-inputs
        *ngIf="selected === 'other Components'"
      ></app-kendo-inputs>
      <!-- </div> -->
    </kendo-drawer-content>
  </kendo-drawer-container>
</section>
