<div>
  <h1 class="text-center my-4 w-full">Grid Data</h1>
  <kendo-grid [kendoGridBinding]="gridData" filterable="menu" [height]="300"
  [pageable]="true"
  [pageSize]="5"
  [sortable]="true"
  >
  
  >
    <kendo-grid-column
      field="ProductID"
      title="ID"
      [width]="40"
      [filterable]="false"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="ProductName"
      title="Product Name"
    ></kendo-grid-column>
    <kendo-grid-column field="UnitPrice" title="Price" filter="numeric">
    </kendo-grid-column>
    <kendo-grid-column
      field="FirstOrderedOn"
      title="Date"
      format="MM/dd/yyyy"
      filter="date"
    >
    </kendo-grid-column>
    
  </kendo-grid>
</div>
