/* You can add global styles to this file, and also import other style files */
@import "@progress/kendo-font-icons/dist/index.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
}

h1 {
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.pb {
  padding-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

.mb {
  margin-bottom: 1rem;
}
